/config/
/crash-reports/
/downloads/
/logs/
/modernfix/
/mods/
/ressourcepacks/
/saves/
/shematics/
/screenshots/
/shaderpacks/
.curseclient
minecraftinstance.json
options.txt
servers.dat
servers.dat_old
usercache.json
usernamecache.json